<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="exp" value="0"/>
    <add key="COMMPORT" value="COM3"/>
    <add key="cFrequency" value="115200"/>
    <add key="cDataBits" value="8"/>
    <add key="cTimeoutRate" value="300"/>
    <add key="cWriteTimout" value="300"/>
  </appSettings>
</configuration>