/.vs/ISAManagement/v15/
/ISAManagement/bin/
/ISAManagement/obj/
/MembersBO/bin/
/MembersBO/obj/
/SMSSender/bin/
/SMSSender/obj/
/TimeKeepingApp/bin/
/TimeKeepingApp/obj/
/AlternateSolution/obj/
/SMSAlternative/bin/
/SMSAlternative/obj/
